:root {
    --black: rgba(0,0,0,0.8)
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.banner {
    margin: auto;
}

.container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: cornflowerblue;

}

.players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: coral;
    border: 1px solid black;
}

.players div {
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}

.game-console {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}

.stats-p1
.stats-p2 {
    border: 1px solid black;
    font-size: 4rem;
}

.gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    
}

.gamegrid div {
    display: flex;
    margin: auto;
    
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
}

.gamecell {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
}

.modal-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    /* visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in; */
}

.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-hide {
    display: none;
    visibility: hidden;
    
}


#modal-start {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
}

#modal-winner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;

}

.modal-text {
    margin: 5px;
    font-size: 3rem;
    justify-content: center;
    background-color: blanchedalmond;
    color: black;

}

.blinking {
    animation:blinkingText 1.2s infinite;
    

}
    
@keyframes blinkingText{
        0%{     opacity: 1;}
        49%{    opacity: 1;}
        60%{    opacity: 0;}
        99%{    opacity: 0;}
        100%{   opacity: 1;}
    }
