@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


:root {
    --black: rgba(0,0,0,0.8)
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', Roboto, Oxygen, sans-serif;
}

a {
    color: #0D1321;
    margin: 0px 5px;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.banner {
    margin: auto;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: #c2c2c2;

}

.players {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #da242e;
    border: 1px solid black;
}

.choose-player {
    font-weight: bolder;
    color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.players div {
    
    align-self: center;
    justify-self: center;
}

.players button {
    height: 3rem;
    border-radius: .1rem;
    padding: 1em;
    background-color: #00ff40;
    box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);
}

.game-console {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    justify-items: center;
    align-items: flex-start;
}

.stats-p1
.stats-p2 {
    border: 1px solid black;
    font-size: 4rem;
}

.gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    column-gap: 0;
    align-items: center;
    margin: 4rem;
    width: 35vw;
    
    
}

.gamecell:nth-child(3n+1) {
    border-left: none;
}
.gamecell:nth-child(1n+7) {
    border-bottom: none;
    
}

.gamecell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    
    font-size: 5rem;
    cursor: pointer;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.footer {
    display: flex;
    justify-content: center;
}

.modal-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    /* visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in; */
}

.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-hide {
    display: none;
    visibility: hidden;
    
}


#modal-start {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(218,36,46,1) 0%, rgba(0,255,64,0.94) 48%, rgba(194,194,194,0.9) 81%, rgba(194,194,194,0.88) 100%);
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem;
}

#modal-winner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    background-color: #0D1321;;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem
}

.modal-text {
    margin: 5px;
    font-size: 3rem;
    font-weight: bolder;
    justify-content: center;
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#start-game,
#replay-game {
    
    justify-self: center;
    
    border-radius: .1rem;
    padding: 1em;
    
    box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);

}

.blinking {
    animation:blinkingText 1.2s infinite;

}
    
@keyframes blinkingText{
        0%{     opacity: 1;}
        49%{    opacity: 1;}
        60%{    opacity: 0;}
        99%{    opacity: 0;}
        100%{   opacity: 1;}
    }
